.chatRoomContainer {
    width: 25%;
    min-height: 50vh;
    background-color: #e6e6e6;
    margin: 0 auto;
    margin-top: 10%;
    text-align: left;
    padding: 15px;
    list-style: none;
  }

  .chatRoom {
      overflow-y: scroll;
      height: 50vh;
      background-color: #ffffff;
  }

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}